:root {
  /**
  |============================
  | FONTS
  |============================
  */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /**
    |============================
    | COLORS
    |============================
  */
  /* Text colors */
  --body-txt-cl: #434455;
  --title-txt-cl: #2e2f42;
  --light-txt-cl: #ffffff;
  --accent-txt-cl: #404bbf;
  --logo-txt-cl: #4d5ae5;
  /* Bg colors */
  --light-bg: #f4f4fd;
  --dark-bg: #2e2f42;
  --bg: #ffffff;
  /* Button */
  --bnt-bg: #4d5ae5;
  --accent-bnt-bg: #404bbf;
  --filters-bnt-bg: #f4f4fd;
  --border-bnt: #e7e9fc;
  --filters-bnt-txt-cl: #4d5ae5;
  /* Cards */
  --border-cards: #e7e9fc;
}

/**
  |============================
  | Base style
  |============================
*/

body {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-txt-cl);
  background-color: var(--bg);
}

/**
  |============================
  | Reset
  |============================
*/

.link {
  text-decoration: none;
  font-style: normal;
}
.list {
  list-style: none;
}

/**
  |============================
  | Common
  |============================
*/

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-txt-cl);
}

.header-logo,
.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-txt-cl);
}

/**
  |============================
  | Header style
  |============================
*/

.header-logo-dark {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-txt-cl);
}
.header-contacts {
  text-transform: lowercase;
  text-decoration: none;
  font-style: normal;
  color: currentColor;
}
.header-nav-item {
  font-weight: 500;
  color: var(--title-txt-cl);
}
.header-nav-item:hover,
.header-nav-item:focus,
.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-txt-cl);
}
.header-address {
  font-style: normal;
}

/**
  |============================
  | MAIN PAGE
  |============================
*/

/* Hero section */
.hero-section {
  background-color: var(--dark-bg);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--light-txt-cl);
}
.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--light-txt-cl);
  background-color: var(--bnt-bg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--light-txt-cl);
  background-color: var(--accent-bnt-bg);
}

/* Features section */
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-txt-cl);
}

/* Team section */
.team-section {
  background-color: var(--light-bg);
}
.team-list-item {
  background-color: var(--bg);
}
.team-prs {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-txt-cl);
}
.team-prs-info {
  text-align: center;
  letter-spacing: 0.02em;
}

/**
  |============================
  | Footer style
  |============================
*/

.footer {
  background-color: var(--dark-bg);
}
.footer-desc {
  color: var(--light-bg);
}
.footer-logo-light {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-bg);
}

/**
  |============================
  | PORTFOLIO PAGE
  |============================
*/

/* Gallery section */
.filters-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--filters-bnt-txt-cl);
  background-color: var(--filters-bnt-bg);
  border: 1px solid var(--border-bnt);
  border-radius: 4px;
  cursor: pointer;
}
.filters-btn:hover,
.filters-btn:focus {
  color: var(--light-txt-cl);
  background-color: var(--accent-bnt-bg);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.potrfolio-list-item {
  background-color: var(--bg);
  border: 1px solid var(--border-cards);
}
.portfolio-cards-desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-txt-cl);
}
.portfolio-cards-category {
  color: var(--body-txt-cl);
}
